<%- include('partials/header') -%>


<div class="container w-25">
    <%- include('partials/flash') -%>
    <h1 class="text-center mt-4"> Dashboard </h1>
</div>

    <%- include('partials/footer') -%>